.mt-19 {
  margin-top: 1.19rem;
}
.ml-15 {
  margin-left: 0.94rem;
}
.ml-7 {
  margin-left: 0.44rem;
}
.mt-280 {
  margin-top: 17.5rem;
}
.mt-9 {
  margin-top: 0.56rem;
}
.page {
  background-color: #ffffff;
  border-radius: 1.25rem;
  background-image: url(https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/6545adee5a7e3f0310c081fb/656b11da28456c0011674bfd/17015157537358204136.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.section {
  background-color: #dbdbdb;
  filter: blur(0.66rem);
  height: 8.31rem;
  border-left: solid 0.063rem #000000;
  border-right: solid 0.063rem #000000;
  border-top: solid 0.063rem #000000;
  border-bottom: solid 0.063rem #000000;
}
.section_2 {
  padding: 0.91rem 0.34rem 0.34rem 0.34rem;
  background-color: #ffffff;
}
.pos {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.group {
  padding-left: 1.25rem;
  padding-right: 0.89rem;
}
.text {
  color: #4c4c4c;
  font-size: 1.06rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 0.78rem;
}
.image {
  width: 1.06rem;
  height: 0.69rem;
}
.image_2 {
  width: 0.94rem;
  height: 0.69rem;
}
.image_3 {
  width: 1.5rem;
  height: 0.71rem;
}
.text_2 {
  color: #666666;
  font-size: 1.25rem;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.17rem;
}
.text-wrapper {
  padding: 0.57rem 0 0.54rem;
  flex: 1 1 8.75rem;
  background-image: url('https://ide.code.fun/api/image?token=656b12dafcfbac00113659f2&name=f1573980b5012d64f251c026b30cf965.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 1.94rem;
}
.font {
  font-size: 0.88rem;
  font-family: Inter;
  line-height: 0.83rem;
  font-weight: 700;
  color: #656565;
}
.text_3 {
  line-height: 0.82rem;
}
.text-wrapper_2 {
  padding: 0.5rem 0 0.48rem;
  flex: 1 1 8.75rem;
  background-color: #fefefe;
  border-radius: 0rem 0.38rem 0.38rem 0rem;
  height: 1.94rem;
  border-right: solid 0.063rem #e3e3e3;
  border-top: solid 0.063rem #e3e3e3;
  border-bottom: solid 0.063rem #e3e3e3;
}
.text-wrapper_3 {
  padding: 0.5rem 0 0.49rem;
  flex: 1 1 8.75rem;
  background-color: #9a3b35;
  border-radius: 0rem 0rem 0rem 0rem;
  height: 1.94rem;
  border-left: solid 0.063rem #913b35;
  border-right: solid 0.063rem #913b35;
  border-top: solid 0.063rem #913b35;
  border-bottom: solid 0.063rem #913b35;
}
.text_4 {
  color: #fefefe;
  line-height: 0.82rem;
}
.section_3 {
  margin-right: 0.38rem;
  background-color: #e5e5e5;
  filter: blur(0.44rem);
  height: 26.69rem;
  border-left: solid 0.063rem #e8e8e8;
  border-right: solid 0.063rem #e8e8e8;
  border-top: solid 0.063rem #e8e8e8;
  border-bottom: solid 0.063rem #e8e8e8;
}
.section_4 {
  padding: 0 1.21rem 5.5rem 4.03rem;
  filter: drop-shadow(0rem 0.19rem 0.19rem #99999929);
  background-image: url('https://ide.code.fun/api/image?token=656b12dafcfbac00113659f2&name=5185474806ec58b17450d55c8cdb71c0.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.pos_2 {
  position: absolute;
  left: 0.53rem;
  right: 0.72rem;
  top: 50%;
  transform: translateY(-50%);
}
.group_2 {
  padding: 1.16rem 0.12rem 1.62rem;
}
.font_2 {
  font-size: 0.75rem;
  font-family: Inter;
  line-height: 0.55rem;
  color: #9a3b35;
}
.text_5 {
  margin-right: 0.5rem;
  margin-top: -0.35rem;
  color: #656565;
  line-height: 0.7rem;
}
.divider {
  background-color: #ebebeb;
  height: 0.063rem;
}
.view {
  margin-left: 0.42rem;
  margin-right: 0.33rem;
}
.group_3 {
  padding-top: 1.31rem;
}
.image_4 {
  border-radius: 2.69rem;
  width: 4.31rem;
  height: 4.31rem;
}
.font_3 {
  font-size: 1rem;
  font-family: SourceHanSansCN;
  line-height: 0.93rem;
  color: #000000;
}
.group_4 {
  margin-top: 1.77rem;
  padding-left: 0.75rem;
}
.view_2 {
  margin-top: 1.53rem;
  padding: 0 0.64rem;
}
.font_4 {
  font-size: 0.75rem;
  font-family: AlibabaPuHuiTi;
  line-height: 0.69rem;
  color: #656565;
}
.text_6 {
  line-height: 0.55rem;
}
.view_3 {
  margin-top: 1.06rem;
  padding: 0 0.6rem;
}
.text_7 {
  line-height: 0.69rem;
}
.group_6 {
  padding-top: 0.094rem;
  height: 5.66rem;
}
.section_6 {
  background-color: #dbdbdb;
  filter: blur(0.66rem);
  height: 5.59rem;
  border-left: solid 0.063rem #000000;
  border-right: solid 0.063rem #000000;
  border-top: solid 0.063rem #000000;
  border-bottom: solid 0.063rem #000000;
}
.section_5 {
  padding-left: 4.82rem;
  padding-bottom: 0.81rem;
  background-color: #ffffff;
}
.pos_3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.equal-division {
  align-self: stretch;
}
.equal-division-item {
  flex: 1 1 9rem;
}
.image-wrapper {
  padding: 1.47rem 0 1.03rem;
  background-color: #cccccc00;
  border-radius: 1.25rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 4rem;
}
.image_5 {
  margin-right: 2.75rem;
  width: 1.44rem;
  height: 1.5rem;
}
.image-wrapper_2 {
  flex: 1 1 9rem;
  margin-left: -2.35rem;
}
.image-wrapper_1 {
  padding: 1.52rem 0 1.05rem;
  background-color: #cccccc00;
  height: 4rem;
}
.image_6 {
  width: 1.25rem;
  height: 1.44rem;
}
.image-wrapper_3 {
  padding: 1.5rem 0 1.06rem;
  background-color: #cccccc00;
  height: 4rem;
}
.image_7 {
  margin-left: 2.73rem;
  width: 1.19rem;
  height: 1.44rem;
}
.section_7 {
  background-color: #000000;
  border-radius: 6.25rem;
  width: 13.06rem;
  height: 0.31rem;
}