<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mizore.mob.mapper.OrderMapper">

    <select id="testIn" parameterType="java.util.List" resultMap="orderResultMap">
        select code
        from `order`
        where state in
        <foreach collection="list"  item="state" open="(" close=")" separator=",">
            #{state}
        </foreach>
    </select>

    <resultMap id="orderResultMap" type="java.util.HashMap">
        <!-- 定义结果映射的规则 -->
        <!-- 例如：<id property="id" column="id"/> -->
    </resultMap>
</mapper>
